In [1]:
import pandas as pd

In [2]:
df_file = pd.read_csv('file.csv')

In [4]:
df_file.describe()

,id,date,user,pc,filename,content
count,457520,457520,457520,457520,457520,457520
unique,457520,449720,218,215,457495,457510
top,{M2T9-E1GX15KS-8671LZJY},04/20/2010 14:31:22,ATV0292,PC-4773,8PG49RJX.doc,D0-CF-11-E0-A1-B1-1A-E1 ankh ankh ankh ankh an...
freq,1,13,11872,11872,2,3

In [3]:
df_file.columns

Index(['id', 'date', 'user', 'pc', 'filename', 'content'], dtype='object')

In [4]:
df_file.loc[0]

id                                   {M2T9-E1GX15KS-8671LZJY}
date                                      01/02/2010 07:59:14
user                                                  YXG0504
pc                                                    PC-4312
filename                                         ZZEZ8RF0.doc
content     D0-CF-11-E0-A1-B1-1A-E1 arizonacalifornia sina...
Name: 0, dtype: object