In [1]:
# import libraries
import pandas as pd

In [2]:
# read the csv from the file
df_psychometic = pd.read_csv('./psychometric.csv')

In [3]:
# look at the metrics on the columns
df_psychometic.describe()

                 O            C            E            A            N
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean     33.045000    30.921000    28.744000    29.119000    29.263000
std      10.320149    10.867422    10.929498    11.079332     5.002085
min      10.000000    10.000000    10.000000    10.000000    14.000000
25%      23.000000    21.000000    19.000000    19.000000    26.000000
50%      36.000000    34.000000    26.500000    28.000000    29.000000
75%      41.000000    40.000000    39.000000    40.000000    33.000000
max      50.000000    50.000000    50.000000    50.000000    44.000000

In [4]:
# show the columns
df_psychometic.columns

Index(['employee_name', 'user_id', 'O', 'C', 'E', 'A', 'N'], dtype='object')

In [5]:
# display head of dataframe
df_psychometic.head()

            employee_name  user_id   O   C   E   A   N
0      Macey Colleen Nash  MCN0973  39  39  41  14  29
1     Nelle Sharon Cherry  NSC0622  38  35  25  33  35
2  Kathleen Audrey Vargas  KAV0428  37  35  31  18  31
3  Adrienne Joelle Mclean  AJM0772  44  30  36  20  25
4  Nicole Maris Valentine  NMV0507  39  30  21  11  36

In [7]:
# rename columns so not to confuse them with the other features
df_psychometic = df_psychometic.rename(columns={'O':'psyc_O','C':'psyc_C','E':'psyc_E','A':'psyc_A','N':'psyc_N'})

In [8]:
# save the file to the fs
df_psychometic.to_pickle('psychometic.pkl')