In [1]:
import pandas as pd

In [3]:
df_device = pd.read_csv('./device.csv')

In [39]:
df_device.columns

Index(['id', 'date', 'user', 'pc', 'activity'], dtype='object')

In [4]:
df_device.describe()

,id,date,user,pc,activity
count,417588,417588,417588,417588,417588
unique,417588,412105,218,215,2
top,{I5K5-M8HD47HI-6694GOIH},10/29/2010 09:08:19,PCM0369,PC-2094,Connect
freq,1,3,8085,8085,211663

In [8]:
df_device.sort_values('date', inplace=True)

In [21]:
df_firstActivity = df_device.groupby(['user','activity'])['date'].min().reset_index()
df_firstActivity['date'] = pd.to_datetime(df_firstActivity['date'])
df_firstActivity['calendarDay'] = df_firstActivity['date'].dt.date
df_firstActivity['dateString'] = df_firstActivity['calendarDay'].apply(lambda x: x.strftime('%Y%m%d'))
df_firstActivity['userDate'] = df_firstActivity.apply(lambda x: x['user'] + '_' + x['dateString'], axis=1)
df_firstActivity = df_firstActivity[['userDate','activity']]
df_firstActivity['firstActivity'] = 1
df_firstActivity.to_pickle('firstActivity.pkl')

In [22]:
df_firstActivity.head(5)

           userDate    activity  firstActivity
0  AAS0850_20100104     Connect              1
1  AAS0850_20100104  Disconnect              1
2  ABH0821_20110102     Connect              1
3  ABH0821_20110102  Disconnect              1
4  ACR0100_20110104     Connect              1

In [36]:
df_hasConnect = df_device[df_device['activity'] == 'Connect'].copy()
df_hasConnect['date'] = pd.to_datetime(df_hasConnect['date'])
df_hasConnect['calendarDay'] = df_hasConnect['date'].dt.date
df_hasConnect['dateString'] = df_hasConnect['calendarDay'].apply(lambda x: x.strftime('%Y%m%d'))
df_hasConnect['userDate'] = df_hasConnect.apply(lambda x: x['user'] + '_' + x['dateString'], axis=1)
df_hasConnect = df_hasConnect[['userDate']]
df_hasConnect['hasConnect'] = 1
df_hasConnect = df_hasConnect.groupby('userDate').sum().reset_index()
df_hasConnect.to_pickle('hasConnect.pkl')